.modal-window {
  background-color: aqua;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.product-img{
  max-width: 50px;
  max-height: 100px;
}

.modal-text{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 300px;
}

.modal-text__product{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  p {
    margin: 0;
    padding: 0;
  }
}

.modal-header{
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 10px;
  .close-btn{
    color: brown;
  }
}

.modal-text__text{
  max-width: 80%;
  margin: 10px;
  text-align: center;
}

.modal-btn{
  display: flex;
  .btn{
    margin: 20px;
    border-radius: 20px;
    width: 100px;
    background-color: aliceblue;
  }
}

.modal-overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.fa-xmark {
  cursor: pointer;
}
