.fav-icon {
    cursor: pointer;
    path {
        pointer-events: none;
    }
}

.img-wrapper {
    width: 200px;
    height: 150px;
    margin-right: 5px;
    img {
        max-width: 100%;
        height: 100%;
    }
}

.fav-icon__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    .btn {
        width: 100px;
        border: none;
        border-radius: 20px;
        padding: 10px;
        background-color: rgb(121, 227, 121);
        cursor: pointer;
    }
}